{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>RN Empregos</title>

  <style>
    #button_submit{
        border: none;
        box-shadow: 0 2px 6px #33cc78;
    }

    #button_submit:hover{
        box-shadow: none;
    }
  </style>

  <link rel="shortcut icon" href="{% static 'img/rn1.png' %}" type="image/x-icon">
  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/weathericons/css/weather-icons.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/weathericons/css/weather-icons-wind.min.css'%}">
  <link href="{% static 'img/rn1.png'%}" rel="shortcut icon" type="image/x-icon" />

  
  <link rel="stylesheet" href="{% static 'node_modules/summernote/dist/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/selectric/public/selectric.css' %}"></link>


  <!-- Template CSS --> 
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <a href="/"><img src="{% static 'img/rn1.png' %}" alt="logo" width="100" class="shadow-light rounded-circle"></a>
            </div>

            <div class="card card-success">
              <div class="card-header"><h4 style="color: #6c757d;">Redefinir Senha</h4></div>
              {% if messages %}
                <ul style="margin-right: 10%; margin-top: 5%; margin-bottom: -5%;" class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}

              <div class="card-body">
                <p class="text-muted">Enviaremos um link para redefinir sua senha</p>
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                  </div>

                  <div class="form-group">
                    <button id="button_submit" style="background-color: #33cc33 !important;" type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      <b>Enviar Email</b>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div style="margin-left: 16%;" class="simple-footer text-center">
              <b>Copyright © RN Empregos 2021 - Desenvolvido por: <br> <img style="width: 180px;" src="{% static 'img/simbol_if2.png' %}" alt=""></b>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  
  <!-- General JS Scripts -->
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.1/umd/popper.js"></script>
  <script  src="{% static 'node_modules/tooltip.js/dist/tooltip.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/nicescroll/dist/jquery.nicescroll.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@2.2.2/dist/posenet.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{% static 'node_modules/selectric/public/jquery.selectric.min.js' %}"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>

  <!-- JS Libraies -->
  <script src="{% static 'node_modules/simpleweather/jquery.simpleWeather.min.js' %}"></script>
  <script src="{% static 'node_modules/summernote/dist/summernote-bs4.js' %}"></script>
  <script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

  <script src="{% static 'node_modules/chart.js/dist/Chart.min.js'%}"></script>
  <script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js'%}"></script>
  <script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js'%}"></script>

  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <!-- Page Specific JS File 
  <script src="{% static 'assets/js/page/index-0.js' %}"></script>
 
-->

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% block js_page %}

  {% endblock js_page %}


</body>
</html>
