{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
      </div>
  
      <div class="row">
            
        <div style="padding:50px;" class="card card-statistic-1">
            <div class="card-wrap">
                <div class="card-body">
                    {% load crispy_forms_tags %}  
                    <!--Password Reset Confirm-->
                    <p>Please enter your new password.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>                   
                        <button class="btn btn-primary" type="submit">Reset password</button>
                    </form>
                    
                </div>
            </div>
        </div>
            
        </div>
    </section>
</div>

{% endblock %}