{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
            <div class="section-header-back">
                <a href="/" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
            </div>
                <h1>Venha ser um Anunciante!</h1>
            </div>

            <div class="card card-primary">
                <div class="card-body">
                    {% if messages %}
                    <ul style="margin-left: -40px;" class="messages">
                        {% for message in messages %}
                        <li style="text-align: center;" {% if message.tags == 'error' %} class="alert alert-danger"{% endif %} {% if message.tags == 'success' %} class="alert alert-success" {% endif %}><b>{{ message }}</b></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-muted">Descreva-nos o porque você quer ser um anunciante.</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p}}

                        <input class="btn btn-primary" type="submit" value="Solicitar">
                    </form>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>

    <script>
        window.onload = function(){
            document.querySelector('#id_description').classList.add('form-control')
            document.querySelector('#id_cnpj').classList.add('form-control')
            let labels = document.querySelectorAll('label')
            labels[0].textContent = 'Descrição'
            labels[1].textContent = 'CNPJ'

        }
    </script>
    
{% endblock content %} 
