{% extends 'base.html' %}
{% load static  %}

{% block content %}

<div class="main-content" >
  <section class="section">
      <div class="section-header">
        <div class="section-header-back">
          <a href="/" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
        </div>
        <h1>Sobre Nós - Equipe da Coordenação e Desenvolvimento do Sistema</h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
          <div class="breadcrumb-item">Todas</div>
        </div>
      </div>
  </section>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6 mt-4">
        <div class="card profile-widget">
          <div class="profile-widget-header">
            <img alt="image" style="width: 140px;" src="{% static 'img/jef.png' %}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Coordenador</div>
                <div class="profile-widget-item-value">Jeferson Queiroga Pereira</div>
              </div>
            </div>
          </div>
          <div class="profile-widget-description pb-0">
            <div class="profile-widget-name">Professor do IFRN <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Campus Pau dos Ferros</div></div>
            <p>Possui graduação em Ciência da Computação pela
             UFRN e mestrado em Ciência da Computação UERN-UFERSA.
             Membro do Núcleo de Análise de Dados e Inteligência Computacional.</p>
          </div>
          <div class="card-footer text-center pt-0">
            <div class="font-weight-bold mb-2 text-small"></div>
            <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-github">
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>


      <div class="col-6 col-sm-6 col-lg-6 mt-4">
        <div class="card profile-widget">
          <div class="profile-widget-header">
            <img alt="image" style="transform: rotate(-15deg); width: 135px;" src="{% static 'img/ser.jpg' %}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Coordenador</div>
                <div class="profile-widget-item-value">Francisco Sérgio de Almeida Neto</div>
              </div>
            </div>
          </div>
          <div class="profile-widget-description pb-0">
            <div class="profile-widget-name">Professor do IFRN <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Campus Pau dos Ferros</div></div>
            <p>Possui graduação (UFERSA) e mestrado na área de Administração (UFPB).
            Membro do Núcleo de Análise de Dados e Inteligência Computacional.</p>
          </div>
          <div class="card-footer text-center pt-0">
            <div class="font-weight-bold mb-2 text-small"></div>
            <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-github">
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-6 mt-4">
        <div class="card profile-widget">
          <div class="profile-widget-header">
            <img alt="image" style="width: 140px;" src="{% static 'img/me.jpeg' %}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Desenvolvedor</div>
                <div class="profile-widget-item-value">Luís Lucilandio de Queiroz Mesquita</div>
              </div>
            </div>
          </div>
          <div class="profile-widget-description pb-0">
            <div class="profile-widget-name">Aluno da Graduação <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Análise e Desenvolvimento de Sistemas</div></div>
            <p>Graduando em Análise e Desenvolvimento de Sistemas pelo IFRN.
            Membro do Núcleo de Análise de Dados e Inteligência Computacional.</p>
          </div>
          <div class="card-footer text-center pt-0">
            <div class="font-weight-bold mb-2 text-small"></div>
            <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-github">
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>


      <div class="col-6 col-sm-6 col-lg-6 mt-4">
        <div class="card profile-widget">
          <div class="profile-widget-header">
            <img alt="image" style="width: 140px;" src="{% static 'img/leo.jpeg' %}" class="rounded-circle profile-widget-picture">
            <div class="profile-widget-items">
              <div class="profile-widget-item">
                <div class="profile-widget-item-label">Desenvolvedor</div>
                <div class="profile-widget-item-value">Leonardo Fabrício da Silva Costa</div>
              </div>
            </div>
          </div>
          <div class="profile-widget-description pb-0">
            <div class="profile-widget-name">Aluno da Graduação <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Análise e Desenvolvimento de Sistemas</div></div>
            <p>Graduando em Análise e Desenvolvimento de Sistemas pelo IFRN.
            Membro do Núcleo de Análise de Dados e Inteligência Computacional.</p>
          </div>
          <div class="card-footer text-center pt-0">
            <div class="font-weight-bold mb-2 text-small"></div>
            <a href="#" class="btn btn-social-icon mr-1 btn-facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-github">
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="btn btn-social-icon mr-1 btn-instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>


    </div>




  
  

</div>
{% endblock content %}