{% extends 'base.html' %}
{% load static  %}

{% block content %}

<div class="main-content" >
    <section class="section">
        <div class="section-header">
          <div class="section-header-back">
            <a href="/" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
          </div>
          <h1>Todas as Vagas de Emprego e Estágio Disponíveis</h1>
          <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Todas</div>
          </div>
        </div>
    </section>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="mr-4">Pesquise por cidade, tipo de vaga, etc.</h4>
              <form id="search-form" action="" method="get">
                <div id="autocomplete">
                  <input class="autocomplete-input" type="text" name="search" />
                  <ul class="autocomplete-result-list"></ul>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section-body">  

      <div class="row">
        {% for emprego in page_obj %}

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header t">
              <h4>{{emprego.title}}</h4>
              <div class="card-header-action">
                <a href="{% url 'detalhes_anuncio' emprego.slug %}" class="btn btn-primary">
                  Detalhes
                </a>
              </div>
            </div>
            <div class="card-body">
              <p><img width="45" style="border-radius: 5px;" class="mr-2" src="/media/{{emprego.user.image}}" alt=""> {{emprego.user.fullname}} - {{emprego.number_vacancies}} Vagas</p>
              <p style="font-size: 10.4px; margin-top: -13px;">Postado há {{emprego.created|timesince}}</p>
            </div>
          </div>
        </div>
        {% endfor %}        
      </div>

      <nav class="float-right">
        <ul class="pagination">
          <li class="page-item">
            {% if page_obj.has_previous %}
              <a class="page-link" href="?page=1">&laquo; Primeiro</a>
            {% endif %}
          </li>

          <li class="page-item">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
          </li>
          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">de</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
          </li>
          <li class="page-item">
            {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
              
            {% endif %}
          </li>
          <li class="page-item">
            {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
          </li>
        </ul>
      </nav>


    </div>
</div>

{% endblock content %}

{% block js_page %}

  <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

  <script>

    new Autocomplete('#autocomplete', {

      search : input => {

        const url = `/anuncio/search/?city=${input}`
        return new Promise(resolve => {
          fetch(url).then(response => response.json()).then(data => {
            resolve(data.data)
          })
        })

      },

      onSubmit : result => {
        var searchform = $('#search-form');
        searchform.submit();
      }

    })
  </script>
{% endblock js_page %}