
{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br>
    <section id="detail" class="section-bg">
        <div class="container">
            <div class="row">
                <div class="card-body">
                    <ul class="nav">
                        <li style="font-size:12px;" class="nav-item">
                            <img style="width: 15px;" src="{% static 'img/time.png'%}" alt=""> Publicado em {{announce.created|date}}
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <ul class="nav">
                        <li class="nav-item">
                            <img style="width:150px;" src="/media/{{announce.image}}" alt="">
                        </li>
                        <li class="nav-item">
                            <h4>{{announce.title}}</h4>
                            <p>{{announce.user.fullname}}</p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <div class="row">
            <img style="width:50px;" src="{% static 'img/money.png'%}" alt="">Salário base:  ${{announce.money}}
        </div>
        <div class="row">
            <img style="width:50px;" src="{% static 'img/location.png'%}" alt="">
            {{announce.city.name}}
        </div>
        <br>
        <div class="card-body">
            <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Descrição</a>
            </li>
            </ul>

            <div class="card-body">
                <p>{{announce.description | safe }}</p>
            </div>
        </div>
        <div class="row">
            <a class="btn" style="background-color:rgb(0, 119, 255); width: 150px; padding: 20px; margin:auto; color: white;" href="#">Candidate-se</a>
        </div>
    </div>
    <br><br>
{% endblock content %}