{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Dashboard - RN Empregos </h1>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1">
            <div class="card-icon bg-primary">
              <i class="far fa-file-alt"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Vagas de Emprego</h4>
              </div>
              <div class="card-body">
                {{tot_announces_emprego}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1">
            <div class="card-icon bg-danger">
              <i class="far fa-newspaper"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Vagas de Estágio</h4>
              </div>
              <div class="card-body">
                {{tot_announces_estagio}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1">
            <div class="card-icon bg-dark">
              <i class="fas fa-user"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Total de Usuários</h4>
              </div>
              <div class="card-body">
                {{tot_users}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1">
            <div class="card-icon bg-success">
              <i class="fas fa-business-time"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Empresas Cadastradas</h4>
              </div>
              <div class="card-body">
                {{tot_empresas}}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if announcements_city %}
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
              <div class="card-header">
                <h4 style="margin: auto;font-size: 20px;">Oportunidades próximas à você</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          {% for emprego in announcements_city %}
            <div class="col-12 col-md-6 col-lg-6">
              <div class="card">
                <div class="card-header t">
                  <h4>{{emprego.title|title}}</h4>
                  <div class="card-header-action">
                    <a href="{% url 'detalhes_anuncio' emprego.slug %}" class="btn btn-primary">
                      Detalhes
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p><img width="45" style="border-radius: 5px;" class="mr-2" src="/media/{{emprego.user.image}}" alt=""> Vaga de {{emprego.type_vacancy|title}} - {{emprego.city}}</p>
                  <p style="font-size: 10.5px; margin-top: -15px;">Postado há {{emprego.created|timesince}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="card">
            <div class="card-header">
              <h4 style="margin: auto; font-size: 20px;">Vagas que podem ser do seu interesse</h4>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        {% for emprego in announcements %}
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-header t">
                <h4>{{emprego.title}}</h4>
                <div class="card-header-action">
                  <a href="{% url 'detalhes_anuncio' emprego.slug %}" class="btn btn-primary">
                    Detalhes
                  </a>
                </div>
              </div>
              <div class="card-body">
                <p><img width="45" class="mr-2" {% if emprego.user.image %} style="border-radius: 5px;" src="/media/{{emprego.user.image}}" {% else %} style="border-radius: 50% !important;" src="{% static 'assets/img/avatar/avatar-1.png'%}" {% endif %} alt=""> Vaga de {{emprego.type_vacancy|title}} - {{emprego.city}}</p>
                <p style="font-size: 10.5px; margin-top: -15px;">Postado há {{emprego.created|timesince}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      

    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
          <div class="card-header">
            <h4>Últimas Postagens</h4>
              <!-- <div class="card-header-action">
                <a href="#" class="btn btn-primary">Veja Todos</a>
              </div> -->
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-striped mb-0">
                  <thead>
                    <tr>
                      <th>Empresa</th>
                      <th>Tipo da Vaga</th>
                      <th>Descrição</th>
                      <th>Quantidade de Vagas</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in last_posts %}
                    <tr>
                        <td style="color: rgb(31, 31, 31)">
                          {% if post.user.image %}
                            <img style="border-radius: 7px;" src="/media/{{post.user.image}}" width="50" class="mr-3" alt="avatar">
                          {% else %}
                            <img style="border-radius: 7px;" alt="image" width="45" src="{% static 'assets/img/avatar/avatar-1.png'%}" class="rounded-circle mr-4">
                          {% endif %}
                          <a style="color: rgb(31, 31, 31)" href="{% url 'listagem_pela_empresa' post.user.id %}">{{post.user.username|title}}</a>
                        </td>
                        <td style="color: rgb(31, 31, 31)">
                          {% if post.type_vacancy == 'estagio' %}
                            <a style="color: rgb(31, 31, 31)" href="{% url 'vagas_estagio' %}">{{post.type_vacancy|title}}</a>
                          {% else %}
                            <a style="color: rgb(31, 31, 31)" href="{% url 'vagas_empregos' %}">{{post.type_vacancy|title}}</a>
                          {% endif %}
                        </td>
                        <td>
                          <div style="margin-top: 1.9%; margin-bottom: -3%;" class="info">
                            <a style="color: rgb(31, 31, 31)" href="{% url 'detalhes_anuncio' post.slug %}">{{ post.title }}</a>
                            <p style="font-size: 11.5px;">Postado há {{post.created|timesince}}</p>
                          </div>
                        </td>
                        <td  style="color: rgb(31, 31, 31); ">
                          {{post.number_vacancies}} vagas
                        </td>
                        
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>





    </section>
  </div>
{% endblock content %}
   