{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Seus Anúncios</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                <h4 style="margin: auto;">Nenhuma Postagem Publicada</h4>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
    
{% endblock content %}