{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>RN EMPREGOS</title>

  <link rel="shortcut icon" href="{% static 'img/rn1.png' %}" type="image/x-icon">
  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/weathericons/css/weather-icons.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/weathericons/css/weather-icons-wind.min.css'%}">

  
  <link rel="stylesheet" href="{% static 'node_modules/summernote/dist/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/selectric/public/selectric.css' %}"></link>


  <!-- Template CSS --> 
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
        </form>

        <ul class="navbar-nav navbar-right">
          {% if request.user.username %}
            {% if notifications_partipate or notifications_solicitation %}
              <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                  <div class="dropdown-header">Notifications
                    <div class="float-right">
                      <a href="#">Mark All As Read</a>
                    </div>
                  </div>
                  <div class="dropdown-list-content dropdown-list-icons">
                    {% if perms.accounts.view_solicitation %}

                      {% for noti in notifications_solicitation %}
                      <a href="{% url 'listar_solicitacoes' %}" class="dropdown-item">
                        <div class="dropdown-item-icon bg-danger text-white">
                          <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="dropdown-item-desc">
                          {{noti.text}}
                          <div class="time">{{noti.created| timesince }}</div>
                        </div>
                      </a>
                      {% endfor %}
                      <hr>
                    {% endif %}

                    

                    {% for noti in notifications_partipate   %}
                    <a href="{% url 'detalhes_anuncio' noti.participate.announcement.slug %}" class="dropdown-item dropdown-item-unread">
                      <div class="dropdown-item-icon bg-primary text-white">
                        <i class="fas fa-code"></i>
                      </div>
                      <div class="dropdown-item-desc">
                        {{noti.text}}
                        <div class="time text-primary">{{noti.created| timesince }}</div>
                      </div>
                    </a>
                    {% endfor %}
                  </div>
                  <div class="dropdown-footer text-center">
                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </li>
            {% endif %}
          {% endif %}

          {% if request.user.username %}
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            {% if user.image %}
              <img alt="image" src="/media/{{request.user.image}}" class="rounded-circle mr-1">
            {% else %}
              <img alt="image" src="{% static 'assets/img/avatar/avatar-1.png'%}" class="rounded-circle mr-1">
            {% endif %}
            <div class="d-sm-none d-lg-inline-block">Olá, {{request.user.username|title}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Logado desde {{request.user.created}}</div>
              <a href="{% url 'editar_usuario'%}" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Editar Perfil
              </a>
              <a href="{% url 'change_password' %}" class="dropdown-item has-icon">
                <i class="fas fa-key"></i> Alterar Senha
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'sair' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Sair
              </a>
            </div>
          </li>
          {% else %}
          <li style="margin-right: 15px;">
            <img alt="image" width="35" src="{% static 'assets/img/avatar/avatar-1.png'%}" class="rounded-circle mr-1">  
            <div class="d-sm-none d-lg-inline-block"><a style="color: #fff;" href="{% url 'login' %}">Olá, Faça Login</a></div></a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
              <a href="index.html"><img style="width: 30%; height: 80%; border-radius: 50%; margin-top: 20px; margin-bottom: 65px;" src="{% static 'img/rn1.png' %}" alt="" ></a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
              <a href="index.html"><img style="width: 60%; height: 50%; border-radius: 50%; margin-top: 20px; margin-bottom: 65px;" src="{% static 'img/rn1.png' %}" alt="" ></a>
            </div>
            <ul class="sidebar-menu">
              <li class="menu-header">Dashboard</li>
              <li class="nav-item dropdown">
                <a href="/" class="nav-link active"><i class="fas fa-home"></i><span>Tela Inicial</span></a>
              </li>
            </ul>

            <ul class="sidebar-menu">
              <li class="menu-header">Gerenciamento e Vagas</li>
              {% if perms.announcement.add_announcement %}
              <li class="nav-item dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-newspaper"></i><span>Empresa</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'criar_anuncio' %}">Criar Anúncio</a></li>
                  <li><a class="nav-link" href="{% url 'seus_anuncios' %}">Meus Anúncios</a></li>
                </ul>
              </li>
              {% endif %}
              <li class="nav-item dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-address-card"></i><span>Vagas</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'todas_as_vagas' %}">Todas as Vagas</a></li>
                  <li><a class="nav-link" href="{% url 'vagas_empregos' %}">Empregos</a></li>
                  <li><a class="nav-link" href="{% url 'vagas_estagio' %}">Estágios</a></li>
                  
                </ul>
              </li>  
              {% if perms.accounts.view_solicitation %}
              <li class="nav-item dropdown active">
                <a href="#" class="nav-link has-dropdown"><i class="fas fa-user-cog"></i><span>Administrador</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'listar_solicitacoes' %}">Lista de Solicitações</a></li>
                </ul>
              </li> 
              {% endif %}
              {% if not perms.announcement.add_announcement %}
              <li class="nav-item dropdown">
                <a href="{% url 'seja_anunciante' %}" class="nav-link"><i class="fas fa-handshake"></i><span>Seja um Anunciante</span></a>
              </li>
              {% endif %}
            </ul>

            <hr><div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a target="_blank" href="https://demo.getstisla.com/" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
              </a>
            </div>
        </aside>
      </div>

      {% block content %}

      {% endblock content %}
      <!-- Main Content -->
      
      <div style="margin-left: 16%; margin-top: 5%;" class="simple-footer text-center">
        <b>Copyright © RN Empregos 2021 - Desenvolvido por: <br> <img style="width: 180px;" src="{% static 'img/simbol_if2.png' %}" alt=""></b>
      </div>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.1/umd/popper.js"></script>
  <script  src="{% static 'node_modules/tooltip.js/dist/tooltip.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/nicescroll/dist/jquery.nicescroll.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@2.2.2/dist/posenet.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="{% static 'node_modules/selectric/public/jquery.selectric.min.js' %}"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>

  <!-- JS Libraies -->
  <script src="{% static 'node_modules/simpleweather/jquery.simpleWeather.min.js' %}"></script>
  <script src="{% static 'node_modules/summernote/dist/summernote-bs4.js' %}"></script>
  <script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

  <script src="{% static 'node_modules/chart.js/dist/Chart.min.js'%}"></script>
  <script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js'%}"></script>
  <script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js'%}"></script>

  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <!-- Page Specific JS File 
  <script src="{% static 'assets/js/page/index-0.js' %}"></script>
 
-->

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% block js_page %}

  {% endblock js_page %}


</body>
</html>